<a href="https://colab.research.google.com/github/preethadk11/sample/blob/main/python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LIST IN PYTHON**

In [ ]:
name=list(('apple','banana','orange'))
print(name)
print(len(name))
for i in range(len(name)):
  print(name[i])
print(name[0:3])
fruits=['apple','orange','banana','kiwi','papaya','watermelon']
print(fruits[-4:-1])
if 'apple' in fruits:
  print('yes')
fruits[2]='pears'
print(fruits)
fruits[1:3]=['watermelon']
print(fruits)
fruits.insert(1,'mango')
print(fruits)
fruits.extend(name)
print(fruits)
fruits.remove("kiwi")
print(fruits)
thislist=['apple','banana','orange']
thislist.pop(1)
print(thislist)
fruits.clear()
print(fruits)

['apple', 'banana', 'orange']
3
apple
banana
orange
['apple', 'banana', 'orange']
['banana', 'kiwi', 'papaya']
yes
['apple', 'orange', 'pears', 'kiwi', 'papaya', 'watermelon']
['apple', 'watermelon', 'kiwi', 'papaya', 'watermelon']
['apple', 'mango', 'watermelon', 'kiwi', 'papaya', 'watermelon']
['apple', 'mango', 'watermelon', 'kiwi', 'papaya', 'watermelon', 'apple', 'banana', 'orange']
['apple', 'mango', 'watermelon', 'papaya', 'watermelon', 'apple', 'banana', 'orange']
['apple', 'orange']
[]

**Loop list**

In [ ]:
fruits=['apple','orange','banana']
for i in fruits:
  print(i)
for i in range(len(fruits)):
  print(fruits[i])
i=0
while(i<len(fruits)):
  print(fruits[i])
  i=i+1

apple
orange
banana
apple
orange
banana
apple
orange
banana

**List comprehension**

In [ ]:
thislist=['apple','orange','banana']
[print(x) for x in thislist]
fruits=['apple','banana','orange','mango']
newlist=[]
for x in fruits:
  if "a" in x:
    newlist.append(x)
print(newlist)
bag=['water','pen','eraser']
bag1=[x for x in bag if "e" in x]
print(bag1)
grocery=['apple','powder','flour']
bag=[x for x in grocery if x!='apple']
print(bag)
school=[x for x in range(10) if x<7]
print(school)
vegetables=['tomato','potato','corn']
newlist1=[x if x!='tomato' else 'brinjal'  for x in vegetables]
print(newlist1)

apple
orange
banana
['apple', 'banana', 'orange', 'mango']
['water', 'pen', 'eraser']
['powder', 'flour']
[0, 1, 2, 3, 4, 5, 6]
['brinjal', 'potato', 'corn']

**DICTIONARY IN PYTHON**

In [ ]:
thisdict={
    "name":"preetha",
    "age":19,
    "birth_year":2006
}
print(thisdict)
print(thisdict["name"])
print(len(thisdict))
print(type(thisdict))
dict2=dict(name="priyanga",age=16,year=2009)
print(dict2)

{'name': 'preetha', 'age': 19, 'birth_year': 2006}
preetha
3
<class 'dict'>
{'name': 'priyanga', 'age': 16, 'year': 2009}

**condition**

In [ ]:
a=300
b=90
print("a") if a<b else print("b")#shorthand if else
if a!=b: print(True)#shorthand if
bigger=a if a>b else b
print("bigger: ",bigger)
username=""
display=username if username else "guest"
print(f"welcome {display}")
name="preetha"
password="dk11233"
is_verified=True
if name and password and is_verified:
  print("login successful")
else:
  print("Not successful")
score=90
attendence=50
is_summitted=True
if score>=60:
  if attendence>=70:
    if is_summitted:
      print("Passed with good marks")
    else:
      print("Assignment not submitted")
  else:
    print("pass but low attendence")
else:
  print("failed")
value=90
if value<50:
  print("No")
elif value==90:
  pass
else:
  print("yes")

b
True
bigger:  300
welcome guest
login successful
pass but low attendence

**MATCH STATEMENT**

In [ ]:
num=4
match num:
  case 1:
    print("one")
  case 2:
    print("two")
  case 3:
    print("three")
  case 4:
    print("four")
numbers=[1,2,3,4,5]
for n in numbers:
  print(n)

four
1
2
3
4
5

**Functions in Python**

In [ ]:
def conversion(fahrenheit):
  return (fahrenheit-32)*(5/9)
print(conversion(95))
def greet(name):#name is parameter
  return name
print(greet("preetha"))#preetha is the argument here since it is the actual value
def number(num=0):#default value of num is 0 here
  return num
print(number(1))
print(number(2))
print(number())
def wildlife(animal,name):
  print("I have a "+animal)
  print("My "+animal+"'s names is "+name)
wildlife(name="preetha",animal="dog")
def list1(fruits):
  for x in fruits:
    print(x)
fruits=["banana","orange","apple"]
list1(fruits)

35.0
preetha
1
2
0
I have a dog
My dog's names is preetha
banana
orange
apple

In [ ]:
def check(person):
  print("Name: ",person["name"])
  print("age : ",person["age"])
my_details={"name":"preetha","age":89}
check(my_details)
def numbers():
  print("hello")
for i in range(5):
  numbers()
def myfn():
  return (1,2)
x,y=myfn()
print("x: ",x)
print("y: ",y)

Name:  preetha
age :  89
hello
hello
hello
hello
hello
x:  1
y:  2

In [ ]:
def greet(*name):
  print("the youngest child: ",name[3])

greet("preetha","priyanga","kasthuri","doss")
def dictionary(**details):
  print("Name: ",details["age"])
print(dictionary(name="preetha",age=56))
def func(a,b,c):
  return a+b+c
num=[1,2,3]
result=func(*num)
print(result)
x=lambda a:a+4
print(x(2))
y=lambda a,b:a*b
print(y(7,8))
def func(n):
  return lambda a:a*n
doubler=func(2)
print(doubler(11))

the youngest child:  doss
Name:  56
None
6
6
56
22

In [ ]:
def countdown(n):
  if n<=0:
    print("done")
  else:
    print(n)
    countdown(n-1)
countdown(5)
def fibo(n):
  if n<=1:
    return n
  else:
    return fibo(n-1)+fibo(n-2)
print(fibo(7))

5
4
3
2
1
done
13

**STRINGS IN PYTHON**

***String is a sequence of character separated by single or double quotes. ***