<a href="https://colab.research.google.com/github/preethadk11/sample/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PYTHON BASICS 1**

In [59]:
import sys
print(sys.version)
"""
print("helo",end=" ")
print("My dear")
print((3+5)*(9))
print("i am preetha and",89,"years old")
"""
print("Hy guys! Bye ladies")
x=int(56)
y=str(56)
z=float(56)
print(x);print(y);print(z)
print(type(x))
x,y,x="orange","grape","banana"
print(x);print(y);print(z)
x=y=z="cherry"
print(y)
fruits=["apple","orange"]
x,y=fruits
print(x);print(y)
a='o'
b='b'
print(a,b)

3.12.12 (main, Oct 10 2025, 08:52:57) [GCC 11.4.0]
Hy guys! Bye ladies
56
56
56.0
<class 'int'>
banana
grape
56.0
cherry
apple
orange
o b

**PYTHON BASICS 2**

In [58]:
x="awesome"
def myfunc():
  x="fantastic"
  print("That's",x)
myfunc()
print("but that's",x)
y='crazy'
def myfun():
  global y ##using global keyword the global variable got changed
  y="fantastic"
myfun()
print(y)
print("helo 'john'")
print("catherin" in name)
if "catherin" in name:
  print("yes")
if "helo" not in name:
  print("yes")

That's fantastic
but that's awesome
fantastic
helo 'john'
False
yes

**Data types**

In [76]:
x=1
print(type(x))
y=1j
print(type(y))
y="preetha"
print(type(y))
z=['apple','orange','banana']
print(type(z))
z=('apple','orange','banana')
print(type(z))
a=range(8)
print(a)
print(type(a))
print(list(a))
name={'name':"preetha",'age':89}#dictionary
print(type(name))
print(name)
set={'orange','apple','mango'}#set
print(type(set))
print(set)
x=True
print(type(x))
X=b"helo"#bytes
print(type(X))
x=bytearray(8)#byte array contains array of bytes to hold data in machine readable format
print(x)
print(type(x))
x=None
print(x)
print(type(x))
x=complex(1)#type conversion from int to complex (ie) imaginary part
print(x)
print(10>9 & 1<2)

<class 'int'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'tuple'>
range(0, 8)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7]
<class 'dict'>
{'name': 'preetha', 'age': 89}
<class 'set'>
{'mango', 'apple', 'orange'}
<class 'bool'>
<class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00')
<class 'bytearray'>
None
<class 'NoneType'>
(1+0j)
True

**TO GENERATE RANDOM NUMBERS**

In [49]:
import random as rd
print(rd.randrange(1,10))

1

**String in python**

In [74]:
print('helo','bro')
x="""helo guys i am preetha catherin and i am passionate about studying.
   That is why i joined in a computer science department."""
print(x)
name="priyanga"
print(name[-5:-2])
name="preetha catherin"
print(name[0:7])
for x in name:
  print(x)
print(len(name))
print(name.upper());print(name.lower())
print(name.strip())
print(name.replace('p','g'))
x="helo ,everyone aneyoseyo"
print(x.split(","))
x="hello"
y="whatsup"
print(x+" "+y)
age=90
txt=f"Her grandma is {age} years old"
print(txt)
price=59
txt=f"the price is {price:.2f} rupees"
print(txt)
print("hello guyes \"preetha\" run")

helo bro
helo guys i am preetha catherin and i am passionate about studying.
   That is why i joined in a computer science department.
yan
preetha
p
r
e
e
t
h
a

c
a
t
h
e
r
i
n
16
PREETHA CATHERIN
preetha catherin
preetha catherin
greetha catherin
['helo ', 'everyone aneyoseyo']
hello whatsup
Her grandma is 90 years old
the price is 59.00 rupees
hello guyes "preetha" run

**WALRUS OPERATOR**
*We can assign and use it to check something at the same time*

In [77]:
if(n := len([1,2,3,4]))>3:
  print("True")

True